<template>
  <Row>
    <akay-banner/>
    <akay-intro/>
    <akay-events/>
    <akay-stories/>
    <akay-blog/>
    <akay-partners/>
    <Row style="display: none; margin: 10px 5% 20px">
      <Col span="24">
        <Card shadow>
          <h4 style="font-weight: 600">SITE UNDER CONSTRUCTION, NEGRO</h4>
          <lottie :options="defaultOptions" :height="200" :width="200" v-on:animCreated="animate"/>
        </Card>
      </Col>
    </Row>
  </Row>
</template>
<script>
// Custom components
import AkayBanner from '@/components/HomeBanner'
import AkayIntro from '@/components/HomeIntro'
import AkayEvents from '@/components/HomeEvents'
import AkayStories from '@/components/HomeStories'
import AkayBlog from '@/components/HomeBlog'
import AkayPartners from '@/components/HomeCarousel'

// Third Party
import Lottie from 'vue-lottie'
import * as animationData from '../assets/construction_site.json'

export default {
  components: {
    AkayBanner,
    AkayIntro,
    AkayEvents,
    AkayStories,
    AkayBlog,
    AkayPartners,
    Lottie
  },
  data () {
    return {
      defaultOptions: {animationData: animationData},
      animationSpeed: 1
    }
  },
  methods: {
    animate: function (anim) {
      this.anim = anim
    }
  }
}
</script>
<style scoped>
</style>
