<template>
  <Row class="single-event">
    <Row class="card-header" type="flex">
      <Col span="20" class="header-title">
        <p>{{eventCategory}}</p>
      </Col>
      <Col span="4" class="header-extras">
        <Poptip placement="bottom-end">
          <Button type="text" ghost>
             <Icon type="ios-more" size="26" color="#ffffff"></Icon>
          </Button>
          <div class="event-actions" slot="content">
            <Card shadow class="actions-card">
                <ul class="action-list">
                  <li>Like Event</li>
                  <li>Join Event</li>
                  <li>Event Details</li>
                </ul>
            </Card>
          </div>
        </Poptip>
      </Col>
    </Row>
    <Card :bordered="false" dis-hover class="event-card">
      <Row>
        <Col>
          <Row>
            <Col span="6"><img src="../assets/silhouette.jpg" class="img-fluid"/></Col>
            <Col span="18"><h4>{{eventTitle}}</h4></Col>
          </Row>
        </Col>
        <Col>
          <h3>{{eventDate}}</h3>
          <p class="time">{{eventTime}}</p>
          <div class="event-text">
            <p>{{eventText}}</p>
          </div>
        </Col>
      </Row>
    </Card>
    <Row class="card-footer">
      <Col span="12" class="footer-rating">
        <Rate :count="5" v-model="eventRating" style="margin-top:-7px; font-size:22px;"/>
      </Col>
      <Col span="12" class="footer-attending">
        <Col span="12">
          <Icon type="ios-heart" size="20" style="margin-top: -4px" color="#c3262e"/>
          <span>{{liked}}</span>
        </Col>
        <Col span="12">
          <Icon type="ios-people" size="26" style="margin-top: -5px" color="#2d8cf0"/>
          <span>{{inAttendance}}</span>
        </Col>
      </Col>
    </Row>
  </Row>
</template>
<script>
export default {
  name: 'event-card',
  props: {
    eventCategory: {
      type: String,
      default: 'General'
    },
    eventTitle: {
      type: String,
      required: true
    },
    eventDate: {
      type: String,
      required: true
    },
    eventTime: {
      type: String,
      required: true
    },
    eventText: {
      type: String,
      required: true
    },
    eventRating: {
      type: Number,
      default: 1
    },
    liked: {
      type: Number,
      default: 0
    },
    inAttendance: {
      type: Number,
      default: 0
    }
  }
}
</script>
<style scoped>
h3{
  font-weight: 500;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #486481cc;
}
h4{
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: bold;
  font-size: 1.1em;
}
p{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
}
p.time{
  text-transform: uppercase;
  color: #486481cc;
}
.single-event, .actions-card{
  text-align: left;
  border-radius: 0;
}
.card-header{
  color: #ffffff;
  background-color: rgba(0,0,0,.6);
  border-bottom: 1px solid #e8eaec;
  line-height: 1;
}
.header-title{
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header-extras{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2% 0 0;
  transition: all .3s ease-in-out;
}
.header-extras button:focus > .header-extras,
.header-extras:hover {
  background-color: rgba(0,0,0,.8);
}
.header-extras button:focus{
  box-shadow: none;
}
.actions-card{
  color: #304356;
}
.action-list{
  list-style-type: none;
}
.action-list li{
  padding: 5px 10px;
  border-bottom: 1px solid rgba(220, 222, 226, 0.4);
}
.action-list li:hover, .action-list li:focus{
  background-color: rgba(220, 222, 226, 0.4);
}
.event-card, .event-card:hover{
  border-left: 1px solid #dcdee2;
  border-right: 1px solid #dcdee2;
  border-radius: 0;
}
.event-title p{
  color: #ffffff;
}
.event-text{
  text-align: left;
  line-height: 16px;
  color: #858585;
}
.card-footer{
  background-color: rgba(81, 90, 110, 0.1);
  border-top:1px solid rgb(232, 234, 236);
  box-sizing: border-box;
  padding: 8px 16px 5px;
  margin-top: -2px;
}
.card-footer .footer-attending{
  text-align: right;
}
.card-footer span{
  padding: 5px;
  font-size: 1.1em;
}
</style>
