<template>
    <Row class="intro-content" type="flex" justify="space-between">
        <Col span="24">
            <section-head>
                <h1 slot="title">What We Do</h1>
                <p slot="subtitle">TL,DR. Kickin a** and taking names.</p>
                <Icon slot="icon" type="ios-help-circle-outline" />
            </section-head>
        </Col>
        <Col span="24">
            <Row :gutter="16" type="flex" justify="space-between">
                <Col :lg="8" :md="12" :sm="12" :xs="24">
                    <Row>
                        <Col class="intro-item">
                            <Card class="intro-card" shadow>
                                <h3 slot="title" class="item-title">
                                    <Icon type="ios-refresh-circle-outline" size="40" class="item-icon"/>
                                    News &amp; Updates
                                </h3>
                                <div>
                                    <p>Be the first to know what's happening in the fashion scene and get updated on new and revolutionary fashion ideas. All in the palm of your hands.</p>

                                    <p>We provide exclusive links and articles on fashion; it's intrigues, hits and misses, latest trends, vintage and retro designs. Get contacts to your nearest fashion wizards no matter your preference.</p>
                                </div>
                            </Card>
                        </Col>
                        <Col class="intro-item">
                            <Card class="intro-card" shadow>
                                <h3 slot="title" class="item-title">
                                    <Icon type="ios-bulb-outline" size="40" class="item-icon"/>
                                    Hacks &amp; Tips
                                </h3>
                                <div>
                                    <p>Get exceptional professional advice on every day fashion, accessories, personal style, simple outfit hacks, heck even good food!</p>
                                    <p>Don't be left out. Here at A-Kay we know what events you definitely can't and don't want to miss. Stay subscribed and let's tell you where your next fashion and outdoor events and bonanzas are going to be. Live a little!</p>
                                </div>
                            </Card>
                        </Col>
                    </Row>
                </Col>

                <Col :lg="8" :md="12" :sm="12" :xs="24">
                    <div class="intro-item intro-mid">
                        <Card shadow class="fh-card">
                            <div class="intro-img">
                                <img src="../assets/silhouette.jpg"/>
                            </div>
                        </Card>
                    </div>
                </Col>

                <Col :lg="8" :md="24">
                        <Col :lg="24" :md="12" :sm="12" :xs="24" class="intro-item">
                            <Card class="intro-card" shadow>
                                <h3 slot="title" class="item-title">
                                    <Icon type="ios-camera-outline"  size="40" class="item-icon"/>
                                    Media
                                </h3>
                                <div>
                                    <p>
                                        Learn from the maestros in multimedia creation. From photography, video editing to post-production and after effects.
                                    </p>
                                    <p>We've got rich content in a wide array of media production ventures including screenwriting, cinematography, lighting, editing, visual effects, industry practices and regulations, you name it. Whatever your poison is, we've got it.</p>
                                </div>
                            </Card>
                        </Col>
                        <Col :lg="24" :md="12" :sm="12" :xs="24" class="intro-item">
                            <Card class="intro-card" shadow>
                                <h3 slot="title" class="item-title">
                                    <Icon type="ios-paper-outline"  size="40" class="item-icon"/>
                                    Jibber Jabber
                                </h3>
                                <div>
                                    <p>What's that, you ask? Well, first off, it would be impossible to outline all that the A-Kay way is capable of offering, ever. To try and put all that in a nutshell of a few paragraphs would be veering dangerously close lunacy territory, <Icon style="font-size : 1.25em" type="ios-happy-outline" />.</p>
                                    <p>Long story short, have a look around the site. We're addictive. Might be surprised at what you'll find/like. Even we are sometimes.</p>
                                </div>
                            </Card>
                        </Col>
                </Col>
            </Row>
        </Col>
    </Row>
</template>
<script>
export default {
}
</script>
<style scoped>
.intro-content {
    margin: 10px 5%;
}

.intro-item {
    padding: 10px;
    text-align: left;
    font-weight: 500;
    font-size: 1.3em;
}

.intro-item p {
    line-height: 16px;
    color: #858585;
    text-align: justify;
    padding-bottom: 10px;
}

.intro-item p:first-child:first-letter {
    float: left;
    font-size: 3em;
    line-height: 1em;
    padding-top: 4px;
    -webkit-padding-before: 0;
    padding-right: 2px;
    color: #757575;
}

.intro-card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 0px;
}

h3.item-title {
    font-weight: 100;
    font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif !important;
}

.item-icon{
    transition: .2s all ease-in-out;
}

.intro-card:hover .item-icon{
    color: #2d8cf0;
}

.intro-mid,
.fh-card {
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.intro-img img {
    width: 100%;
    height: auto;
}
</style>
