<template>
    <div class="intro-banner">
        <div class="intro-title">
            <h1 class="intro-brand">
                A FASHION BRAND
            </h1>
            <h4 class="intro-subtitle">
                Revolutionizing Pop Culture
            </h4>
            <span class="text-switcher">
                <vue-typed-js :strings="['Creative', 'Passionate', 'Experienced', 'Awesome', 'The A-Kay Way']" :loop="true">
                    <h5><span class="we-are">We Are: </span><span class="typing"></span></h5>
                </vue-typed-js>
            </span>
        </div>
        <vue-particles color="#ffffff" :particleOpacity="0.5" linesColor="#ffffff" :particlesNumber="80" shapeType="circle" :particleSize="5" :linesWidth="2" :lineLinked="true" :lineOpacity="0.4" :linesDistance="150" :moveSpeed="6" :hoverEffect="true" hoverMode="repulse" :clickEffect="true" clickMode="push">
        </vue-particles>
    </div>
</template>
<script>
export default {
  name: 'ak-banner',
  components: {
  },
  data () {
    return {
    }
  },
  method: {
  }
}
</script>
<style scoped>
.intro-banner {
    position: relative;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    height: 680px;
    justify-content: center;
}

.intro-title {
    color: #fff;
    z-index: 99;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.intro-brand {
    font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 100;
}

.intro-subtitle {
    font-size: 1.1em;
    font-weight: 300;
}

.text-switcher h5 {
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 2px;
}

.text-switcher h5 span{
    font-weight: 600;
}

.typing{
    color: #EF413F;
}

#particles-js {
    background-image: url("../assets/sky.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .we-are{
        display: none;
    }
}
</style>
