<template>
  <Row>
    <section-head>
      <h1 slot="title">Our Network</h1>
      <p slot="subtitle">Respect the conglomerate.</p>
      <Icon slot="icon" type="ios-people-outline" />
    </section-head>
    <Col class="carousel-content">
      <Carousel autoplay loop v-model="carousel" :height="150" :autoplay-speed="3500">
          <CarouselItem>
            <div class="carousel-item">
              <img src="../assets/orion-dark.png" class="carousel-img"/>
            </div>
          </CarouselItem>
          <CarouselItem>
            <div>
              <img src="../assets/orion-old.png" class="carousel-img"/>
            </div>
          </CarouselItem>
      </Carousel>
    </Col>
  </Row>
</template>
<script>
export default {
  data () {
    return {
      carousel: 0
    }
  }
}
</script>
<style scoped>
.carousel-content{
  padding: 10px 0;
}
.carousel-item{
  margin: 10px 0 15px 0;
}
.carousel-img{
  height: 100px;
  width: auto;
}
</style>
