<template>
    <Row type="flex" justify="space-between">
        <Col span="24">
            <section-head>
                <h1 slot="title">Event Calendar</h1>
                <p slot="subtitle">Get the scoop, be there or be square.</p>
                <Icon slot="icon" type="ios-calendar-outline" />
            </section-head>
        </Col>
        <Col span="24" class="events">
            <Row class="events-content" type="flex" justify="space-between">
                <Col :lg="6" :md="8" :sm="12" :xs="24" class="event">
                    <event-card eventCategory="Fashion" eventTitle="24th annual fashion show of some sort." eventDate="Today" eventTime="6:00 AM - 6:00 PM" :liked="3" :eventRating="4" :inAttendance="15" eventText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."/>
                </Col>
                <Col :lg="6" :md="8" :sm="12" :xs="24" class="event">
                    <event-card eventCategory="Motor Show" eventTitle="24th annual fashion show of some sort." eventDate="Tomorrow" eventTime="7:00 AM - 10:00 AM" :liked="0" :eventRating="0" :inAttendance="0" eventText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."/>
                </Col>
                <Col :lg="6" :md="8" :sm="12" :xs="24" class="event">
                    <event-card eventCategory="Mingle" eventTitle="24th annual fashion show of some sort." eventDate="Monday" eventTime="8:00 AM - 6:00 PM" :liked="2" :eventRating="2" :inAttendance="5" eventText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."/>
                </Col>
                <Col :lg="6" :md="8" :sm="12" :xs="24" class="event">
                    <event-card eventCategory="Pool Party" eventTitle="24th annual fashion show of some sort." eventDate="Tuesday" eventTime="6:00 AM - 6:00 PM" :liked="3" :eventRating="3" :inAttendance="9" eventText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."/>
                </Col>
            </Row>
        </Col>
    </Row>
</template>
<script>
import EventCard from './EventCard.vue'

export default {
  components: {
    EventCard
  }
}
</script>
<style scoped>
.events{
    background-color: #ffffff;
}
.events-content{
    margin: 10px 6%;
}
.event{
    padding: 10px;
}
</style>
