<template>
  <Row>
    <section-head>
      <h1 slot="title">Story Galore</h1>
      <p slot="subtitle">If you've not heard it here. It hasn't happened!</p>
      <Icon slot="icon" type="ios-flame-outline" />
    </section-head>
    <Col class="stories-content">
      <Row :gutter="20" type="flex" justify="center" align="middle">
        <Col :lg="8" :md="12" :sm="12" :xs="24" class="story-item">
            <Card shadow class="home-story">
              <Row>
                <Col span="24" class="story-img">
                  <img src="../assets/silhouette.jpg" class="img-fluid"/>
                </Col>
                <Col span="24" class="story-preview">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
                  <p>{{trimmedMessage('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.', 350)}}</p>
                </Col>
                <Col span="24">
                  <Button type="primary" shape="circle" icon="ios-eye">View Story</Button>
                </Col>
              </Row>
            </Card>
        </Col>
        <Col :lg="8" :md="12" :sm="12" :xs="24" class="story-item">
            <Card shadow class="home-story">
              <Row>
                <Col span="24" class="story-img">
                  <img src="../assets/silhouette.jpg" class="img-fluid"/>
                </Col>
                <Col span="24" class="story-preview">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
                  <p>{{trimmedMessage('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.', 500)}}</p>
                </Col>
                <Col span="24">
                  <Button type="primary" shape="circle" icon="ios-eye">View Story</Button>
                </Col>
              </Row>
            </Card>
        </Col>
        <Col :lg="8" :md="12" :sm="12" :xs="24" class="story-item" style="margin:30px 0">
            <Card shadow class="home-story">
              <Row>
                <Col span="24" class="story-img">
                  <img src="../assets/silhouette.jpg" class="img-fluid"/>
                </Col>
                <Col span="24" class="story-preview">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
                  <p>{{trimmedMessage('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.', 350)}}</p>
                </Col>
                <Col span="24">
                  <Button type="primary" shape="circle" icon="ios-eye">View Story</Button>
                </Col>
              </Row>
            </Card>
        </Col>
      </Row>
    </Col>
  </Row>
</template>
<script>
export default {
  methods: {
    trimmedMessage: function (message, length = 500) {
      return message.substring(message, length) + '...'
    }
  }
}
</script>
<style scoped>
button{
  font-size: 1em;
}
.stories-content{
  height: 100%;
  background-color: rgba(135, 149, 168, .4);
  padding: 10px 10%;
}
.home-story{
  overflow: hidden;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.story-item{
  overflow: hidden;
  margin: 10px 0;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
}
.story-img{
  position: relative;
  height: 30vh;
  overflow: hidden;
}
.story-img img{
  width: 100%;
  overflow: hidden;
}
.story-preview{
  padding: 5px 15px;
  text-align: justify;
}
.story-preview h4{
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  color: #494947;
  text-transform: uppercase;
  margin: 10px 0;
  text-align: left;
}
.story-preview p{
  line-height: 16px;
  color: #858585;
  font-size: 1.03em;
}
@media only screen and (max-width: 768px) {
  .story-item{
    margin: 10px 0px !important;
  }
}
</style>
