<template>
  <Row>
    <Col span="24">
      <section-head>
        <h1 slot="title">New Posts</h1>
        <p slot="subtitle">Our latest ramblings yet!</p>
        <Icon slot="icon" type="ios-chatbubbles-outline" />
      </section-head>
    </Col>
    <Col span="24" class="blog-content">
       <Row :gutter="16" type="flex" justify="space-between">
        <Col :lg="7" class="blog-col">
          <Row class="blog-one" type="flex" justify="space-between">
            <Col span="24">
              <h3>Category</h3>
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </Col>
            <Col span="24">
              <h3>Category</h3>
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </Col>
            <Col span="24">
              <h3>Category</h3>
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </Col>
          </Row>
        </Col>
        <Col :lg="10" class="blog-col">
          <Row class="blog-two" type="flex" justify="space-between">
            <Col span="24" class="blog-middle-top">
              <div>
                <p class="align-right"><Icon type="md-share" size="28"/></p>
                <h3>Category</h3>
                <h4 style="font-weight: 500;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="align-right">6th Sep 2018, 4:00 pm</p>
              </div>
            </Col>
            <Col span="24" class="blog-middle-last">
              <Row type="flex" justify="space-between">
                <Col span="8" class="img-container"><img src="../assets/blog-bg.jpeg" class="img-fluid"/></Col>
                <Col span="16" class="mid-last-content">
                  <h3>Category</h3>
                  <h4>Lorem ipsum dolor sit amet, consectetur</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                </Col>
              </Row>
            </Col>
            <Col span="24" class="blog-middle-last">
              <Row type="flex" justify="space-between">
                <Col span="8" class="img-container"><img src="../assets/blog-bg.jpeg" class="img-fluid"/></Col>
                <Col span="16" class="mid-last-content">
                  <h3>Category</h3>
                  <h4>Lorem ipsum dolor sit amet, consectetur</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                </Col>
              </Row>
            </Col>
          </Row>
        </Col>
        <Col :lg="7" class="blog-col">
          <Row class="blog-three" type="flex" justify="space-between">
            <Col span="24">
              <Row>
                <Col span="24" class="blog-three-top">
                  <div>
                    <h3>Category</h3>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </Col>
                <Col span="24" class="align-left">
                  <Avatar class="blog-avi" src="https://i.loli.net/2017/08/21/599a521472424.jpg" size="large"/>
                  <p class="blog-author">Gideon Muiru</p>
                </Col>
                <Col span="24" class="blog-three-last">
                  <Row>
                    <Col span="8">
                      <Icon type="md-heart" size="20" style="margin-top: -4px"/>
                      <span>Likes</span>
                    </Col>
                    <Col span="8">
                      <Icon type="ios-chatboxes" size="20" style="margin-top: -4px"/>
                      <span>Comments</span>
                    </Col>
                    <Col span="8">
                      <Icon type="ios-share-alt" size="20" style="margin-top: -4px"/>
                      <span>Share</span>
                    </Col>
                  </Row>
                </Col>
              </Row>
            </Col>
            <Col span="24">
              <Row>
                <Col span="24" class="blog-three-top">
                  <div>
                    <h3>Category</h3>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                  </div>
                </Col>
                <Col span="24" class="blog-three-last">
                  <Row class="blog-fin">
                    <Col span="12"><p>By <span>Gideon Muiru</span></p></Col>
                    <Col span="12"><p class="align-right">6th Sep 2018</p></Col>
                  </Row>
                </Col>
              </Row>
            </Col>
          </Row>
        </Col>
      </Row>
    </Col>
  </Row>
</template>
<script>
export default {
}
</script>
<style scoped>
.blog-content{
  padding: 10px 10%;
}
.blog-col > div{
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
.blog-col h3{
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.05em;
  text-align: left;
  color: #638aca;
  text-transform: uppercase;
  padding: 15px 0 0;
}
.blog-col h4{
  text-align: left;
  padding: 10px 0;
  font-weight: 500;
  font-size: 1.3em;
  color: #494947;
}
.blog-col p{
  padding: 5px 0;
  text-align: justify;
  color: #858585;
  word-wrap: break-word;
  line-height: 16px;
  font-size: 1.03em;
}
.blog-one{
  background-color: #ffffff;
  padding: 15px;
}
.blog-one p{
  padding-bottom: 12px;
  border-bottom: 1px solid #e4e4e4;
}
.blog-one >div:last-child p{
  border-bottom: none;
}
.blog-two{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.blog-two > div{
  border-radius: 5px;
}
.blog-two .blog-middle-top{
  background-image: url('../assets/blog-bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-middle-top > div, .blog-three-top div{
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
}
.blog-two .blog-middle-top h3, .blog-two .blog-middle-top h4, .blog-three .blog-three-top h3, .blog-three .blog-three-top h4{
  color: #e9eaec !important;
}
.blog-col .blog-middle-top h4{
  padding-top: 10px;
}
.blog-col .blog-middle-top h4{
  font-size: 2em;
  font-weight: 500px !important;
}
.blog-two > div:first-child p, .blog-three .blog-three-top p{
  color: #e9eaec !important;
  border-bottom: none;
  font-size: 1.1em;
}
.blog-two .blog-middle-last{
  background-color: #ffffff;
  margin-top: 20px;
}
.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.img-container img{
  min-height: 18vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.mid-last-content{
  padding: 5px 10px;
}
.mid-last-content h3{
  color: #b5b5b5;
}
.mid-last-content h4{
  color: #737373;
  padding: 5px 0;
  font-size: 1.1em;
}
.mid-last-content p{
  color: #aeaeae;
  font-size: 1em;
}
.blog-three > div {
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 5px;
}
.blog-three .blog-three-top{
  overflow: hidden;
  background-image: url('../assets/blog-bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-three-top h4{
  font-size: 1.5em;
}
.blog-three-top p{
  margin-bottom: 25px;
}
.blog-avi{
  width: 60px;
  height: 60px;
  line-height: 40px;
  border-radius: 30px;
  border: 4px white solid;
  top: -30px;
  left: 30px;
}
.blog-author{
  color: grey;
  margin-left: 95px;
  margin-top: -60px;
  font-weight: bold;
}
.blog-three-last > div *, .blog-three-last .blog-fin *{
  padding: 5px 0;
  color: grey;
}
.blog-three-last .blog-fin div p{
  padding: 5px 10px;
}
.blog-fin p span{
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .img-container img{
    min-height: 24vh;
  }
}
</style>
