<template>
  <Row class="section-head">
    <Col span="24">
      <div class="head-title" v-if="$slots.title">
        <slot name="title"></slot>
      </div>
      <div class="or-spacer">
        <div class="mask"></div>
        <span>
          <i><slot name="icon"></slot></i>
        </span>
      </div>
      <div class="head-subtitle" v-if="$slots.subtitle">
        <slot name="subtitle"></slot>
      </div>
    </Col>
  </Row>
</template>
<script>
export default {
  name: 'section-head'
}
</script>
<style scoped>
.section-head{
  clear: both;
  letter-spacing: 0.2px;
  line-height: 1.8em;
  margin: 10px 0;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}
.head-title, .head-subtitle{
  text-transform: uppercase;
}
.head-title {
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.1;
  font-size: .9em;
}
.head-subtitle{
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  color: #486481cc;
  font-size: 1.1em;
}
.or-spacer {
  margin: 30px 0 10px;
  width: 50%;
  position: relative;
}
.or-spacer .mask {
  overflow: hidden;
  height: 20px;
}
.or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 250px / 12px;
  box-shadow: 0 0 4px rgba(48, 67, 86, .5);
}
.or-spacer span {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -20px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 3px rgba(48, 67, 86, .4);
  background: #efefef;
}
.or-spacer span i {
  position: absolute;
  top: 7px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #021f3fb0;
  font-size: 2.5em;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
</style>
