<template>
  <Row type="flex" justify="center" align="middle">
    <Col span="24" class="home-footer align-center">
      <Col :lg="8" :md="10" class="newsletter">
        <p>Don't be a stranger! Subscribe to the AKAY newsletter and get spot on updates on any developments in the fashion industry and much more.</p>
        <Form class="newsletter-form">
          <FormItem>
            <Input size="large" placeholder="Enter your email...">
              <Button class="btn-subscribe" slot="append" icon="ios-send"></Button>
            </Input>
          </FormItem>
        </Form>
      </Col>
    </Col>
    <Col span="24" class="home-footer align-center">
      <Col :lg="8" :md="10" class="social-links">
        <Col class="link-list">
          <span class="social-link"><a href="http://facebook.com" target="_blank"><img src="../assets/social/facebook.svg" class="img-fluid"/></a></span>
          <span class="social-link"><a href="http://twitter.com" target="_blank"><img src="../assets/social/twitter.svg" class="img-fluid"/></a></span>
          <span class="social-link"><a href="http://instagram.com" target="_blank"><img src="../assets/social/instagram.svg" class="img-fluid"/></a></span>
          <span class="social-link"><a href="http://youtube.com" target="_blank"><img src="../assets/social/youtube.svg" class="img-fluid"/></a></span>
          <span class="social-link"><a href="http://linkedin.com" target="_blank"><img src="../assets/social/linkedin.svg" class="img-fluid"/></a></span>
        </Col>
      </Col>
    </Col>
  </Row>
</template>
<script>
export default{
}
</script>
<style scoped>
.home-footer{
  background-color: #8795a8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.newsletter{
  margin: 0 5%;
  padding: 20px 0 0;
}
.newsletter p{
  color: #e4e4e4;
  font-size: 1.2em;
  margin: 0 0 16px;
}
.social-links{
  padding-bottom: 20px;
}
.link-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.link-list span{
  margin: 0 10px;
  transition: all .3s ease-in;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
}
.social-link img{
  height: 100%;
  max-height:40px;
  width: auto;
}
.link-list span:hover{
  filter: grayscale(100%);
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 1);
}
</style>
