<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #304356;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.img-fluid{
  width: 100%;
  height: auto;
}
.img-fluid-hr{
  height: 100%;
  width: auto;
}
.align-left{
  text-align: left !important;
}
.align-right{
  text-align: right !important;
}
.align-center{
  text-align: center !important;
}
.main-header {
  z-index: 999;
  position: fixed !important;
  width: 100% !important;
  position: relative;
  background-color: rgba(81, 90, 110, .6) !important;
}

.main-header .fs-menu .ivu-menu-dark, .main-header .m-menu {
  background-color: transparent;
}

.main-header .m-menu .ivu-menu-vertical .ivu-menu-submenu-title-icon{
    top: 25px;
}

.main-header .shopping-cart .ivu-badge-count {
  background: #C3262E !important;
  box-shadow: none;
  border: 2px solid #ffffff;
}

.ivu-layout-sider-zero-width-trigger{
    display:none;
}

.ivu-layout-sider-trigger{
  border-top: 2px solid #363e4f;
}

.main-content{
  min-height: 75vh;
}

.event-card > .ivu-card-head{
  background-color:rgba(81, 90, 110, .6);
  text-align: left;
}

.single-event .ivu-rate-star{
  margin-right: 2px;
}

.header-extras .ivu-poptip-body, .header-extras .ivu-card-body{
  padding: 0;
}

.header-extras .ivu-poptip-popper[x-placement^="bottom"]{
  padding: 2px 0 7px 0;
}
.newsletter-form .ivu-input-group-append{
  background-color: #2d8cf0;
  color: white;
}
.newsletter-form .ivu-btn-icon-only {
  padding: 0 20px;
}
.newsletter-form .ivu-btn > .ivu-icon {
  font-size: 21px;
}

.main-footer {
  position: relative;
  padding: 0 !important;
  font-size: 13px;
}
</style>
