<template>
  <Content class="main-content">
    <router-view></router-view>
  </Content>
</template>
<script>
export default {
}
</script>
<style scoped>
.main-content{
  background-color: #efefef;
}
</style>
