<template>
    <div class="layout">
        <Layout>
            <main-header></main-header>
            <main-content></main-content>
            <main-footer></main-footer>
        </Layout>
    </div>
</template>
<script>
/* eslint-disable */
import MainHeader from './MainHeader.vue'
import MainContent from './MainContent.vue'
import MainFooter from './MainFooter.vue'

export default {
  components: {
     MainHeader,
     MainContent,
     MainFooter 
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.layout {
    background: #efefef;
    position: relative;
}
</style>
