<template>
    <Header class="main-header">
        <Row class="fs-menu">
            <Col span="3" class="logo">
                <img src="../assets/logo.png">
            </Col>
            <Col span="21" class="main-nav">
                <Menu class="fs-menu" mode="horizontal" theme="dark" active-name="1" :accordion="true">
                    <MenuItem name="1">
                    <Icon type="md-planet" size="26"/> HOME
                    </MenuItem>
                    <MenuItem name="2">
                    <Icon type="md-calendar" size="26" /> EVENTS
                    </MenuItem>
                    <MenuItem name="3">
                    <Icon type="md-flame" size="26" /> TOP STORIES
                    </MenuItem>
                    <MenuItem name="4">
                    <Icon type="ios-chatbubbles" size="26" /> BLOG
                    </MenuItem>
                    <Submenu name="5">
                        <template slot="title">
                            <Icon type="ios-alert" size="26" /> ABOUT US
                        </template>
                        <MenuItem name="5-1">
                        <Icon type="ios-fastforward" size="26" />THE A-KAY WAY
                        </MenuItem>
                        <MenuItem name="5-2">
                        <Icon type="ios-briefcase-outline" size="26" />OUR PARTNERS
                        </MenuItem>
                    </Submenu>
                    <MenuItem name="6">
                    <Icon type="ios-at" size="26" /> CONTACTS
                    </MenuItem>
                    <MenuItem name="7">
                    <Icon type="md-basket" size="26" /> STORE
                    </MenuItem>
                    <MenuItem name="8">
                    <div class="shopping-cart">
                        <Badge :count="1">
                            <Avatar class="shopping-cart-avi" icon="ios-cart" size="large" />
                        </Badge>
                    </div>
                    </MenuItem>
                </Menu>
            </Col>
        </Row>
        <Row class="mobi-menu" style="width:1px">
            <Col span="24">
                <Col span="2" class="icon-menu">
                    <Icon @click="collapsedSider" :class="rotateIcon" :style="{margin: '20px'}" type="md-menu" size="28"></Icon>
                </Col>
                <Col span="22" style="right:-100px;">
                    <img src="../assets/logo.png" class="img-fluid">
                </Col>
                <Sider ref="mobimenu"  collapsible :collapsed-width="0" v-model="isCollapsed" class="mobi-sider">
                    <Menu class="m-menu" active-name="1" theme="dark" width="auto" :class="menuitemClasses">
                        <MenuItem name="0" class="menu-title">
                            <h4>MENU</h4>
                        </MenuItem>
                        <MenuItem name="1">
                        <Icon type="md-planet" size="26"/> HOME
                        </MenuItem>
                        <MenuItem name="2">
                        <Icon type="md-calendar" size="26" /> EVENTS
                        </MenuItem>
                        <MenuItem name="3">
                        <Icon type="md-flame" size="26" /> TOP STORIES
                        </MenuItem>
                        <MenuItem name="4">
                        <Icon type="ios-chatbubbles" size="26" /> BLOG
                        </MenuItem>
                        <Submenu name="5">
                            <template slot="title">
                                <Icon type="ios-alert" size="26" /> ABOUT US
                            </template>
                            <MenuItem name="5-1">
                            <Icon type="ios-fastforward" size="26" />THE A-KAY WAY
                            </MenuItem>
                            <MenuItem name="5-2">
                            <Icon type="ios-briefcase-outline" size="26" />OUR PARTNERS
                            </MenuItem>
                        </Submenu>
                        <MenuItem name="6">
                        <Icon type="ios-at" size="26" /> CONTACTS
                        </MenuItem>
                        <MenuItem name="7">
                        <Icon type="md-basket" size="26" /> STORE
                        </MenuItem>
                    </Menu>
                </Sider>
            </Col>
        </Row>
    </Header>
</template>
<script>
export default {
  data () {
    return {
      isCollapsed: true
    }
  },
  computed: {
    rotateIcon () {
      return [
        'menu-icon',
        this.isCollapsed ? '' : ''
      ]
    },
    menuitemClasses () {
      return [
        'MenuItem',
        this.isCollapsed ? 'collapsed-menu' : ''
      ]
    }
  },
  methods: {
    collapsedSider () {
      this.$refs.mobimenu.toggleCollapse()
    }
  }
}
</script>
<style scoped>
.logo img {
    width: 60px;
    height: auto;
}

.main-nav .ivu-menu-dark.ivu-menu-horizontal .ivu-MenuItem-active,
.ivu-menu-dark.ivu-menu-horizontal .ivu-MenuItem:hover,
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu-active,
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu:hover {
    border-bottom: 2px solid #2d8cf0 !important;
}

.shopping-cart {
    padding-top: 20px !important;
    margin-bottom: -20px;
}

.shopping-cart-avi {
    background-color: #2d8cf0;
    top: -20px !important;
}

.mobi-menu{
    display: none;
    line-height: 10px !important;
}

.mobi-sider{
    top: 64px;
    left: -50px;
}

.m-menu{
    text-align: left;
    height: 84vh;
}

.menu-title {
    border-bottom: 2px solid #2d8cf0 ;
}

.menu-title h4{
    font-weight: 100;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif !important;
    font-size: 1.3em;
}

.icon-menu{
    left: -50px;
    min-height: 64px;
    padding-top: 6%;
    display: flex;
    color: #ffffff;
}
.rotate-icon{
    transform: rotate(-90deg);
}
.MenuItem span{
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}
.MenuItem i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
}
.collapsed-menu span{
    width: 0px;
    transition: width .2s ease;
}
.collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}
@media only screen and (max-width: 768px) {
    .fs-menu{
        display: none;
    }
    .mobi-menu{
        display: block;
    }
    .mobi-menu img{
        height: 62px;
        width: auto;
    }
}

</style>
