<template>
  <Footer class="main-footer">
    <top-footer/>
    <Row type="flex" justify="center" align="top" class="bottom-footer">
      <Col span="8">
        <p>Orion Tech Labs</p>
        <img src="../assets/orion-light.png">
      </Col>
      <Col span="8">
        <p>2018 &copy; A-KAY</p>
        <img src="../assets/akay-light.png">
      </Col>
      <Col span="8" class="f-one-3">
        <p>Razzle Dazzle</p>
        <Avatar style="background-color: #87d068" icon="ios-person" size="large"/>
      </Col>
      <BackTop></BackTop>
    </Row>
  </Footer>
</template>

<script>
import TopFooter from '@/components/TopFooter'

export default {
  components: {
    TopFooter
  }
}
</script>
<style scoped>
.bottom-footer {
    color: #e4e4e4;
    background-color: #4e5661;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .1);
    padding: 12px 0;
}

.bottom-footer img {
    max-width: 40px;
    height: auto;
}

.bottom-footer p {
    font-weight: 200;
}

.footer-avi {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 6px;
    font-size: 40px;
    background-color: #EF413F;
}

.footer-avi>* {
    margin-top: 10px !important;
}
</style>
